.ipynb_checkpoints/
**/.ipynb_checkpoints/
.git.backup/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.git.backup/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.git.backup/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.git.backup/
**/.git.backup/

V3C_KF/
**/V3C_KF/
V3C_IDX/
**/V3C_IDX/

*.pth
*.pt
*.ckpt
*.npz

key.txt